<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="YamlDotNet" publicKeyToken="ec19458f3c15af5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="StandingsWindowLocked" value="True" />
    <add key="StandingsWindowXPos" value="0" />
    <add key="StandingsWindowYPos" value="0" />
    <add key="RelativeWindowLocked" value="True" />
    <add key="RelativeWindowXPos" value="2159" />
    <add key="RelativeWindowYPos" value="822" />
    <add key="FuelWindowLocked" value="True" />
    <add key="FuelWindowXPos" value="8" />
    <add key="FuelWindowYPos" value="1152" />
    <add key="TireWindowLocked" value="True" />
    <add key="TireWindowXPos" value="20" />
    <add key="TireWindowYPos" value="795" />
    <add key="LiveTrackWindowLocked" value="True" />
    <add key="LiveTrackWindowXPos" value="570" />
    <add key="LiveTrackWindowYPos" value="1" />
  </appSettings>
</configuration>