<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="YamlDotNet" publicKeyToken="ec19458f3c15af5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DriverCount" value="3" />
    <add key="UIZoom" value="2" />
    <add key="StandingsWindowOpacity" value="1" />
    <add key="StandingsWindowLocked" value="True" />
    <add key="StandingsWindowXPos" value="0" />
    <add key="StandingsWindowYPos" value="0" />
    <add key="RelativeWindowOpacity" value="1" />
    <add key="RelativeWindowLocked" value="True" />
    <add key="RelativeWindowXPos" value="1547" />
    <add key="RelativeWindowYPos" value="185" />
    <add key="FuelWindowOpacity" value="1" />
    <add key="FuelWindowLocked" value="True" />
    <add key="FuelWindowXPos" value="230" />
    <add key="FuelWindowYPos" value="862" />
    <add key="TireWindowOpacity" value="1" />
    <add key="TireWindowLocked" value="True" />
    <add key="TireWindowXPos" value="1935" />
    <add key="TireWindowYPos" value="848" />
    <add key="SimpleTrackWindowOpacity" value="1" />
    <add key="SimpleTrackWindowLocked" value="True" />
    <add key="SimpleTrackWindowXPos" value="425" />
    <add key="SimpleTrackWindowYPos" value="0" />
    <add key="SimpleTrackWindowWidth" value="1076" />
    <add key="FullTrackWindowOpacity" value="1" />
    <add key="FullTrackWindowLocked" value="True" />
    <add key="FullTrackWindowXPos" value="1932" />
    <add key="FullTrackWindowYPos" value="53" />
  </appSettings>
</configuration>