<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <targets>
    <target name="errorfile" xsi:type="File" fileName="${BaseDir}/logs/errors.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
    <target name="infofile" xsi:type="File" fileName="${BaseDir}/logs/info.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Warn" writeTo="errorFile" />
  </rules>
</nlog>